body{
font: 14px times new roman;
font-family: serif
text-transform: inherit;
color: #333;
margin:0;
padding:0;
	/*background: #F8F9FB;*/
	/*background: #FAFAFA;*/
background: url(../themes/wrapper.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a{
	color: #d35400;
}
a:hover{
	color: #d35400;
	text-decoration: none;
}
.clear{
	clear: both;
}
.mybody{
	margin-top: 30px;
}
.noBorderRadius{
	border-radius: 0;
}
.noBorder{
	border: none;
}
.noShadow{
	box-shadow: none;
}
.form-control, .input-group-addon, button, .btn{
	border-radius: 0;
}
.form-control:focus{
	border:1px solid #2C91B3;
	box-shadow: none;
	border-radius: 0;
}
.progress-btn{
	display: none;
}

/*header*/
header{
	display: block;
	background: #eee;
}
.topheader ul{
	list-style: none;
	margin:0;
	padding: 10px;
	margin-bottom: px;
}
.topheader ul li{
	display: inline;
	margin-right: 20px;
}
.topheader ul li a{
	color: #d35400;
}
.middleheader form{
	padding-right: 0;
}
/*.middleheader form input{
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 0;
}*/
/*.middleheader form button{
	height: 25px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-radius: 0;
	background: #2C91B3;
	color: #fff;
}*/
/*.middleheader .loginLink{
	height: 25px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-radius: 0;
	background: #2C91B3;
	color: #fff;
}*/
.forgottxt{
	margin-left: 40px;
}
.logo{
	/*border: 1px solid blue;*/
	height: 25px;
	/*margin-left: -12%;*/
	padding-top: 0px;
	padding-bottom: 5px;
}
.logo img{
	margin: 0;
	width: 60%;
}
.middleheader .navbar-header .navbar-toggle{
	border: 1px solid #000;
}
.middleheader .navbar-header .icon-bar{
	background: #000;
}
.middleheader a{
	color: #154360;
}
.bottomheader{
	border-radius: 0;
	background: #d35400;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
}
.innerbottomheader{
	background: #154360;
	/*background: #2C91B3;*/
	padding-right: -20px;
}
.moto, .moto:hover{
	color: #fff;
	padding-left: 0;
	text-decoration: none;
	cursor: default;
}
.bottomheader form {
	padding-right: 0;
}
.bottomheader form .form-group input{
	width: 400px;
}
.bottomheader form input{
	height: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 0;
	width:100%;
}
.bottomheader form button{
	height: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 0;
}
.userprof{
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.changepModel .panel{
	margin: 10px;
}
/*End of header*/

/*Footer*/
footer{
	margin-top: 20px;
	background: #154360;
	padding: 10px;
	color: #fff;
}
.footer ul{
	padding: 0;
}
.footer{
	font-size: 1.4em;
}
.socialLinks ul li a{
	font-size: 1.3em;
	color: #fff;
}
/*End of footer*/
/*New Business Account*/
.newbusinessaccount{
	border: 1px solid #ccc;
}
.newbusinessaccount .panel-heading{
	background: #154360;
	color: #fff;
}
.country-code select{
	padding: 0;
	background: transparent; 
	border: none;
}
/*end of new business*/
/*New Pesonal Account*/
.newpersonalaccount{
	border: 1px solid #ccc;
}
.newpersonalaccount .panel-heading{
	background: #154360;
	color: #fff;
}
.country-code select{
	padding: 0;
	background: transparent; 
	border: none;
}
/*end of new business*/
/*Business home page*/
#myTabContent{
	/*border: 1px solid #ccc;*/
	/*padding: 10px;*/
}
.sidebar li{
	margin-bottom: 10px;
}
.sidebar li a{
	background: #154360;
	color: #fff;
}
.sidebar li a:hover{
	background: #337AB7;
	color: #fff;
}
.sidebar li ul li a{
	background: #fff;
	color: #333;
}
.sidebar li ul li a:hover{
	background: #eee;
	color: #333;
}
.newpanel{
	border: 1px solid #ccc;
}
.newpanel .panel-heading{
	background: #fff;
	color: #333;
	border-bottom: 1px solid #ccc;
}
.ads{
	width: 350px;
	border: 1px solid #ccc;
	float: right;
	padding-top: 0;
}
.ads .panel-heading{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #154360;
	color: #fff;
}
.adsprice{
	background: #d35400;
	position: absolute;
	right: 5%;
	top: 0px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 25px;
	font-size: 0.8em;
	vertical-align: bottom;
	text-align: center;
	height: 45px;
	color: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.adsprev{
	width: 350px;
	border: 1px solid #ccc;
	float: left;
	padding-top: 0;
}
.adsprev .panel-heading{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #154360;
	color: #fff;
}
.adspricePrev{
	background: #d35400;
	/*position: absolute;*/
	right: 5%;
	top: 0px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 0.8em;
	vertical-align: bottom;
	text-align: center;
	/*height: 45px;*/
	color: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.ads .panel-body{
	height: 160px;
	padding: 0px;
}
.ads img{
	width: 100%; 
	height: 99%;
}
.adsprev .panel-body{
	height: 160px;
	padding: 0px;
}
.adsprev img{
	width: 100%; 
	height: 99%;
}
.setquestions{
	display: none;
}
.setBonus{
	display: none;
}
.btnFinish{
	display: none;
	padding: 6px;
}
.displayBlock{
	display: block;
}
.hideBlock{
	visibility: hidden;
}
#imgPreview{
	display: none;
}
#locationList{
	width: 98%;
	margin-left: 10px;
	box-shadow: none;
	border: none;
}
.checkAll{
	margin-top: 0px;
	padding: 0px;
	/*border-bottom: 1px solid #ccc;*/
}
/**/
/*For css model*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: -90px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	/*width: 400px;*/
	/*overflow: auto;*/
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 0px;
	background: #fff;
}
.closesign {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closesign:hover { background: #00d9ff; }
/*end of css model*/
/*active ads*/
.viewAds{
	width: 60%
}
.modalDialog .panel-heading{
	border-bottom: 1px solid #ccc;
}
.viewpanel{
	overflow: auto;
	min-height: 400px;
}

h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.8em;
	text-align: center;
	margin: 15px 0;
}
h2{font-size: 1.5em; margin: 8px 0}
h2 span.name{font-size: 1em}
h2 span.num{font-size: 1.5em; font-style: italic}

.raws{
  width:100%;
  height:250px;
  margin-top:10px;
  padding:0.2px;
}


